@charset "utf-8";


body {
	font: 13px Calibri, Arial, Helvetica, sans-serif;
	border-top: 0px solid #000000;
	margin: 0px;
	/*background-image: url(/sites/all/themes/ijet1/images/bkg.png);
	background-repeat: repeat-y;
	background-position: center top;*/
}
#topbar {
	float: right;
}
#header {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#toplogo {
	float: left;
	margin-bottom: 15px;
}

#search_div{
  margin: 3px 0 -10px 0;
}

#search {
	background-color: #BFBFBF;
	background-image: url(../mock_images/icon_search.png);
	background-position: right center;
	background-repeat: no-repeat;
	margin-top: 10px;
	padding:0; /* msh */
}

#login {
    float: right;
    margin-top: 8px;
    margin-right: 23px;
    background-color: #7E1A20;
    color: #FFF;
    padding: 4px 14px;
    border-radius: 5px;
}

/*Main Menu*/

#mainmenu {
	list-style: none;
	float: left;
	margin-top: 3px;
	margin-left: 36px;
}
#mainmenu ul {
	display: inline;
}
#mainmenu ul li {
	display: inline-block;
	padding: 10px 19px 10px 10px;
	background-image: url(../mock_images/top_nav_arrow.png);
	background-repeat: no-repeat;
	background-position: left center;
}

#mainmenu ul li a {
	text-decoration: none;
	color: #000000;
	font: bold 15px Calibri, Arial, Helvetica, sans-serif;
}

#block-block-3 {
  width:90px;
  float:left;
  clear:none;
  margin-top: 20px;
  position:relative;
  display:block;
}

#block-block-3 a,
#block-block-3 a:visited,
#block-block-3 a:link {
  color:#ffffff;
  text-decoration:none
}

/*END Main Menu*/


/*Slider Box*/
.region-highlighted {
    padding: 0px;
    width: 1024px;
    margin: auto;
}

#block-views-fp-slideshow-v2-block{
	z-index:0;
}

#slider {
	background-size: cover;
	background-position: 25% 25%;
	height: 330px;
	clear: both;
	position: relative;
	z-index:0;
}

#views_slideshow_cycle_main_fp_slideshow_v2-block{
  width:100%;	
	z-index:0;
}

#slideroverlay {
	width: 530px;
	float: left;
	margin-top: 106px;
	margin-left: 31px;
	background-color: #000000;
	color: #FFFFFF;
	padding: 0px 30px 10px;
	opacity: 0.3;
	height: 189px;
	position: absolute;
	left: 49px;
	bottom: 40px;
	z-index:10;
}
#overlaytext {
	width: 530px;
	float: left;
	margin-top: 106px;
	margin-left: 31px;
	color: #FFFFFF;
	position: absolute;
	left: 87px;
	z-index: 20;
}
#overlaytext h1 {
	font: normal 38px Calibri, Arial, Helvetica, sans-serif;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	text-shadow: 2px 2px 3px #000000;
	color:#ffffff;
}
#overlaytext p {
	font-size: 16px;
	margin-top: -23px;
	color:#ffffff;
}
#overlaytext .leanmore,
.fp-slide-learnmore-link {
	padding-top: 0px;
	color: #D89326;
	font-size: 20px;
	text-decoration: none;
	text-align: right;
	float: right;
	text-shadow: 1px 1px 5px #000000;
}
#heroprev {
	width: 68px;
	float: left;
}
#heronext {
	width: 68px;
	float: right;
}

#views_slideshow_cycle_teaser_section_fp_slideshow_v2-block,
.view-fp-slideshow-v2 .views-slideshow-cycle-main-frame-row{
   width: 100% !important;
}

/*  
This takes the controller links generated by views slideshow 
and makes them into hot spots over the existing arrow images 
on the ens of the banner. kludge happens.... 
*/
#views_slideshow_controls_text_previous_fp_slideshow_v2-block {
	font-size:0px;
  padding: 165px 34px;
  position:relative;
  top:-330px;
	float:left;
	z-index:900;
	margin-bottom:-330px;
}

#views_slideshow_controls_text_next_fp_slideshow_v2-block {
	font-size:0px;
  padding: 165px 34px;
  position:relative;
  top:-330px;
	float:right;
	z-index:900;
	margin-bottom:-330px;
}
/* the pause link we don't want */
#views_slideshow_controls_text_pause_fp_slideshow_v2-block {
  display:none;	
}

/*END Slider Box*/


#section_banner_img {
	width:960px;
	height:150px;
}
#block-system-main{
	min-height: 20px;
}
/*mobile browser*/
@media only screen and (max-width: 767px) {
  #section_banner_img {
  	width:480px;
  	height:75px;
  }
}



/*Page Area*/
#content {
	width: 960px;
	margin-bottom: 15px;
	float: left;
}
#page {
	position: relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px; /*msh*/
}

/*Tabbed Boxes*/
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-left: 50px;
}
#newstab {
	margin-bottom: 33px;
}

#block-views-front-page-news-tab-block .views-field-title  a{
	color: #D89226;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 0px;
}
#block-views-front-page-news-tab-block .views-field-body  p {
	font-size: 11px;
	margin-bottom:2px;
}

.newsbox {
	width: 31%;
	float: left;
	padding-right: 20px;
}
.newsbox .blurb {
	color: #000000;
	font-weight: normal;
	font-size: 15px;
	margin-top: -9px;
}
.newsbox h3 {
	color: #D89226;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 0px;
}
.newsbox .dateline {
	color: #7F131F;
	font-size: 11px;
	margin-top: -2px;
	font-weight: bold;
}


/*Feature Box*/
#featurebox {
	width: 600px;
	background-color: #BFB8AB;
	float: left;
	margin-right: 30px;
}
#featurebox h2 {
	background-color: #801621;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 28px;
	text-shadow: 1px 2px 3px #000000;
	margin-top: 0px;
	padding-left: 20px;
}
#featurebox img {
	float: right;
	padding: 10px;
}
#featurebox p {
	padding-left: 20px;
	padding-right: 9px;
	color: #333333;
	font-size: 14px;
}
#featurebox ul li a {
	color: #7F1520;
}

.view-front-lines-headlines {
  padding:6px 16px;	
}

.view-front-lines-headlines .views-row{
  margin-bottom:3px;
}

.view-front-lines-headlines .views-row .views-field
{
  clear:none;
  float:left;
}

.view-front-lines-headlines,
.view-front-lines-headlines a,
.view-front-lines-headlines a:active,
.view-front-lines-headlines a:visited,
.view-front-lines-headlines a:hover
{
  color: #801621;
  font-size:15px;
}





/*Product Box*/
#productbox {
	width: 320px;
	background-color: #F8D175;
	float: left;
}

#productbox h2 {
	background-color: #D89427;
	margin-top: 0px;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 28px;
	text-shadow: 1px 2px 5px #000000;
	padding-left: 20px;
}

#productbox img {
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-bottom: 24px;
}
.learnmore {    
background: none repeat scroll 0% 0% #D89427;
    padding: 5px;
    border-radius: 6px;
    z-index: 99;
    margin-top: 4px;
}
/*Footer*/
#footer {
	background-color: #353526;
	margin-top: 30px;
	position: relative;
	clear: both;
	height: 353px;
	width: 1024px;
margin: auto;
}
#footercontent {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	padding-top: 25px;
}

/*Footer Menu*/

#footermenu {
	list-style: none;
	float: left;
	margin-top: -10px;
	padding-left:-6px;
	width: 82%;
}
#footermenu ul {
	display: inline;
	margin-top: 0px;
	margin-bottom: 6px;
	float: left;
	width: 850px;
}
#footermenu ul li {
	display: inline-block;
	padding: 2px 2px 0 0px;
	width: 18%;
	vertical-align: top;
}
#footermenu ul li a {
	text-decoration: none;
	color: #FFFFFF;
	font: bold 15px Calibri, Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 3px #000000;

}
#footermenu .sf-depth-1{
	margin:0 0 3px 0;
}

#footermenu li ul li {
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	width: 100px;
	margin: 0 0 0 -12px;
}
#footermenu li ul li a{
	display: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	width: 100px;
	line-height: 12px;
}
/*END Footer Menu*/

#twitterfooter {
	width: 960px;
	margin: 30px auto 17px;
}




#footercontent .footerhalfright {
	width: 50%;
	float: left;
	color: #858560;
	margin-top: 0px;
}

.footerhalfright img {
	padding-top: 0px;
	vertical-align: middle;
}
#footercontent .footerhalfleft {
	color: #858560;
	width: 50%;
	float: left;
}



/* TWITTER */
.customisable-border {
    border: 1px solid #FFFFFF;
}
.twittterfoot1 {
	width: 30%;
	float: left;
}
.twittterfoot2 {
	width: 48%;
	float: left;
	margin-right: 43px;
}
.twittterfoot1 img {
	vertical-align: middle;
}



/* Navigation menu*/
#block-superfish-1 ul, #block-superfish-1 ul li,
#block-superfish-1 ul.sf-menu, #block-superfish-1 ul.sf-menu li { float: left; margin: 0; padding: 0;  }

#block-superfish-1 ul, #block-superfish-1 ul.sf-menu { /*width: 100%;*/
	padding-top: 18px;
	padding-left: 100px;
 }

#block-superfish-1 ul li, #block-superfish-1 ul.sf-menu li { 
	position: relative; 
	list-style:none; 
  background-image: url("../mock_images/top_nav_arrow.png");
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  /* padding: 10px 19px 10px 10px;*/
 }

#block-superfish-1 ul li a, 
#block-superfish-1 ul.sf-menu li a { 
	padding: 15px 22px 15px 16px; 
	text-decoration: none; 
	color:#000000;
	line-height:120%;
  display: block; 
  font-weight: bold; 
  font-size: 14px; 
  text-shadow: 1px 1px 0px #fff;
  outline:none; 
 }

#block-superfish-1 ul li.expanded a, #block-superfish-1 ul.sf-menu li.menuparent a { 
	/*padding-right: 35px; */
	}

#block-superfish-1 ul li a:hover, 
#block-superfish-1 ul.sf-menu li a:hover { 
  text-shadow: none;
	position: relative; 
	color: #545454; 
	background-color: #fff;    
}

#block-superfish-1 ul li:hover li a, 
#block-superfish-1 ul.sf-menu li li a { 
	color: #595959; 
	font-weight: normal; 
}


*#block-superfish-1 ul li a.active,
#block-superfish-1 ul.sf-menu li a.active {
	color: #D89226;
}

#block-superfish-1 ul ul { position: absolute; top: -999em; width: 230px; }

#block-superfish-1 ul.sf-menu ul li,
#block-superfish-1 ul ul li { 
	width: 100%; 
	border-bottom:1px solid #d79600;
}

#block-superfish-1 ul.sf-menu ul li.first,
#block-superfish-1 ul ul li.first{ 
	border-top:1px solid #d79600;
}




#block-superfish-1 ul.sf-menu li:hover,
#block-superfish-1 ul li:hover {
	 visibility: inherit;
}

#block-superfish-1 ul.sf-menu li,
#block-superfish-1 ul li  { 
	float: left; 
	position: relative; 
}

#block-superfish-1 ul.sf-menu a,
#block-superfish-1 ul a { 
	display: block; 
	position: relative; 
}

#block-superfish-1 ul.sf-menu li:hover ul,
#block-superfish-1 ul.sf-menu li.sfHover ul,
#block-superfish-1 ul li:hover ul { 
	left: 0; 
	top: 48px; 
	z-index: 999; 
}

#block-superfish-1 ul li:hover ul { 
	top:46px; 
}

#block-superfish-1 ul.sf-menu li:hover li ul,
#block-superfish-1 ul.sf-menu li.sfHover li ul,
#navigation  ul li:hover li ul { 
	top: -999em; 
}

#block-superfish-1 ul.sf-menu li li:hover ul,
#block-superfish-1 ul.sf-menu li li.sfHover ul,
#navigation  ul li li:hover ul { 
	left: 230px; top: 0; 
}

#block-superfish-1 ul.sf-menu li li:hover li ul,
#block-superfish-1 ul.sf-menu li li.sfHover li ul,
#block-superfish-1 ul li li:hover li ul { 
	top: -999em; 
}

#block-superfish-1 ul.sf-menu li li li:hover ul,
#block-superfish-1 ul.sf-menu li li li.sfHover ul,
#navigation  ul li li li:hover ul { 
	left: 230px; 
	top: 0; 
}

#block-superfish-1 ul ul { 
	background:none; 
	filter:none; 
	border:none; 
	box-shadow: none;
  -moz-border-radius: 0; 
  -webkit-border-radius: 0;
  border-radius: 0; 
  	margin-left: -100px;
  margin-top:-20px;
}

/*
#block-superfish-1 ul ul li { 
	border:none; 
}
*/

#block-superfish-1 ul ul li { 
	border-bottom: 1px solid #D79600;
}



#block-superfish-1 ul ul li a,
#block-superfish-1 ul ul li a.active,
#block-superfish-1 ul.sf-menu ul li a,
#block-superfish-1 ul.sf-menu ul li a.active {
	/*background-color: #f0f0f0; */
	background-color: #fff;
	border: none;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.47);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.47);
	}
 
#block-superfish-1 ul ul li a:hover,
#block-superfish-1 ul.sf-menu ul li a:hover,
#block-superfish-1 ul.sf-menu ul li.sfHover > a {
	background-image: none;
	background-color: #801621;
	color: #FFFFFF;
	border-left: 14px solid #D89427;
	
}

/*css drop down menu arrows*/
#block-superfish-1 li.expanded > a,
#block-superfish-1 li.menuparent > a  {
}

#block-superfish-1 li li.expanded:hover > a { background-color:#ffffff; }

#block-superfish-1 li.expanded:hover > a,
#menu li.expanded:active > a,
#block-superfish-1 li.menuparent:hover > a,

	
/* 
* Superfish support: Reset background/border
*/
#block-superfish-1 .sf-menu a { border:none; }
#block-superfish-1 .sf-menu li { background-color:none; border-top:none; } 
#block-superfish-1 .sf-menu li li { border:none; } 







#block-menu-block-8 {
  width:110px;
  height:35px;
  overflow:visible;
  float:left;
  margin-top: 24px;
  position:relative;
  display:block;
  z-index:99;
}

#block-menu-block-8 li {
	/*text-indent: 5px;
  margin: -2px, 0;	*/
	background: #d89427;
	padding: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	z-index: 99;
	margin-top: 4px;
}
/*
#block-menu-block-8 a,
#block-menu-block-8 a:hover,
#block-menu-block-8 a:visited,
#block-menu-block-8 a:link
 {
	color: #000;
	font-size: 12px;
	
}
*/
#block-system-main #search-form {display:none;}




/*
#block-menu-block-8 li.first ~ li{
  display:none;
  z-index:999;
}

#block-menu-block-8 li:hover ~ li,
#block-menu-block-8 li:hover
 {
  display:block;
  z-index:999;
}
*/












/* iPad Portrait/Browser */
@media only screen and (max-width: 991px) {

#block-superfish-1 ul,
#block-superfish-1 ul.sf-menu li a { border-radius:0px; }

#block-superfish-1 ul li a,
#block-superfish-1 ul.sf-menu li a { font-size: .9em;padding: 10px 15px; }

#header #site-slogan { font-size: 1.25em; }

#block-superfish-1 ul.sf-menu li:hover ul,
#block-superfish-1 ul.sf-menu li.sfHover ul,
#block-superfish-1 ul li:hover ul { top: 35px; }



}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {
select.mnav { width:100%; padding:5px;}
}

#header-right ul.menu,
#header-top ul.menu { padding:0; margin:0; display:block; overflow:hidden; text-align:right; padding:20px 0 0 0; }

#header-top ul.menu { text-align:left; padding:0; }

#header-top .region-header-top-left ul.menu { text-align:left; }

#header-top .region-header-top-right ul.menu { text-align:right; }

#header-right ul.menu li,
#header-top ul.menu li  { border-right:1px solid #e3e3e3; display:inline; list-style-type:none; overflow:hidden; padding:0 10px; margin:0; }

#header-right ul.menu li a,
#header-top ul.menu li a  { background:none; display:inline; border:none; padding:0; }

#header-right ul.menu li.first,
#header-top ul.menu li.first { padding-left:0; margin:0; }

#header-right ul.menu li.last,
#header-top ul.menu li.last { border-right:none; padding-right:0; margin:0; }

#header-right ul.menu ul.menu,
#header-top ul.menu ul.menu  { display:none; }

/* Mobile/Browser */
@media only screen and (max-width: 767px) {
#header-right ul.menu li,
#header-top ul.menu li { 
	display:block; text-align:left; border-bottom:1px solid #e3e3e3; border-right:none; padding:10px 0; 
}




}





/* this shouldn't work, but Twitter says it does.  Let's see */

a.twitter-timeline {
  /* Buttonish */
  display: inline-block;
  padding: 6px 12px 6px 30px;
  margin: 10px 0;
  border: #ccc solid 7px;
  border-radius: 3px;
  background: #f8f8f8 url(//platform.twitter.com/images/bird.png) 8px 8px no-repeat;
 
  /* Text */
  font: normal 12px/18px Helvetica, Arial, sans-serif;
  color: #f00;
  white-space: nowrap;
}
 
a.twitter-timeline:hover,
a.twitter-timeline:focus {
  background-color: #dedede;
}
 
/* Color Highlight for keyboard navigation */
 
a.twitter-timeline:focus {
  outline: none;
  border-color: #0089cb;
}

a.menu-1253, ul.links li.menu-1253 a {
  background-image: url(/sites/all/themes/ijet1/images/china.png);
  padding-left:27px;
  background-repeat: no-repeat;
  background-position: left;

}

a.menu-1254, ul.links li.menu-1254 a {
  background-image: url(/sites/all/themes/ijet1/images/japan.png);
  padding-left:27px;
  background-repeat: no-repeat;
  background-position: left;

}

a.menu-1255, ul.links li.menu-1255 a {
  background-image: url(/sites/all/themes/ijet1/images/singapore.png);
  padding-left:27px;
  background-repeat: no-repeat;
  background-position: left;

}

a.menu-1256, ul.links li.menu-1256 a {
  background-image: url(/sites/all/themes/ijet1/images/usa.png);
  padding-left:27px;
  background-repeat: no-repeat;
  background-position: left;

}

/* Front-lines pages */



.field-name-field-fl-name{
  font-size:18px;
  font-weight:bold;	
}

.fp_fte_headline{
	background-color: #978C77;
	color: #000000;
	font-size: 16px;
	font-weight: normal;
	margin: 20px 12px 8px 12px;
	padding: 2px 5px 2px 10px;
	clear: both;
	text-align: left;
}

.fp_fte_body {
	width: 395px;
	clear: none;
	float: left;
	padding: 4px 10px;
	text-align: left;
}
.fp_fte_body p,
.fp_fte_body a
 {
  display:inline;
}

.fp_fte_thumbnail_wrapper {
	float:left;
	clear:none;
	width:150px;
	padding:4px 12px;
}

.region region-footer-first{
  clear:both;	
}

#fp_lower_boxes_wrapper {
  	clear:both;
}

#twitter_box{
	margin:-15px 20px 0 0;
	width:520px;
  padding: 0 20px 0 40px;	 
  float:left;
  clear:none;
}



#block-webform-client-block-899 {
  float:left;
  clear:none;
  width:320px;
  height:130px;
  overflow:hidden;
  padding:12px;
  background-color:#900;
  color:white;
  
}

#block-webform-client-block-899 .webform-submit{
  left:190px;
  top:-55px;	
  height:30px;
	background: #d89427;
	padding: 5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	
	text-shadow: 0 0 0 #000000;
}

#subscribe_message {
	height:20px;
	font-size:16px;
  color:#fff;
  display:block;
  position:relative;
  top:-45px;
  left:30px;	
}

.view-videos-page .view-content{
  clear:both;	
}

.videos_view_thumbnail{
	float:left;
	clear:left;
	width:150px;
	padding:5px 18px 5px 0;
}
.videos_view_text_items_wrapper{
	float:left;
	clear:right;
	width:550px;
	}
.videos_view_title a{
	display:block;
  font-size:18px;
  text-decoration:none;
  margin-bottom:6px;
}

.videos_view_description p {
	font-size:12px;
}